.away {
  flex: 2;
}

.away {
  flex: 1;
}

.Games {
  width: 50%;
  margin: 100px auto 100px auto;
  border-radius: 10px;
  border: 10px solid black;
  text-align: center;
  padding-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button {
  cursor: pointer;
}
